---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-16 md:mt-0">
  <p class="text-lg mt-4 text-slate-600 text-justify">
    L'empresa se centra en l'elaboració d'aperitius i snacks saludables i divertits, orientats principalment al públic jove i 
    familiar. Grefusa busca combinar sabors atractius amb ingredients de qualitat, a més d'innovar en formats i experiències de consum. 
    La seua filosofia inclou el compromís amb la sostenibilitat i la responsabilitat social.
  </p>
  <p class="text-lg mt-4 text-slate-600 text-justify">
    Entre els seus productes actuals principalment trobem snacks, tant enfornats (Papa Delta, Gublin) com de dacsa i blat (Mister Corn), i pipes (Pipas G).
  </p>
  <p class="text-lg mt-4 text-slate-600 text-justify">
    La inclusió d'una línia de productes per a esportistes sota el nom Freshpower podria ser una excel·lent estratègia per a Grefusa, ja que diversificaria 
    la seua oferta i ampliaria el seu mercat cap a un segment en creixement: el de la nutrició esportiva i funcional.
  </p>
</div>

